header{
  padding-top: 10pt;
  background-color: #006C76;  
}
#reloj{
  color:yellow;
  text-align: right;
  display: inline;
  margin-right: 6pt;
  padding-top: 5pt;
}
#date{
  text-align: start;
  color: white;
  padding-top: 5pt;
}
#dropdown-basic{
  background-color: #006C76;
  margin: #006C76;  
  border-color: white;
  margin-bottom: 10pt;
}
#Title{
  padding-top: 5pt;
}